@page "/"
@using Microsoft.AspNetCore.Authorization
@using Projection.UI.Web.Client.Components
@using Projection.UI.Web.Components.Layout
@* @attribute [Authorize] *@


<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<SiteSettings />

Welcome to your new Fluent Blazor app.